#wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.clearfix:after,
#mt-footer:after,
.mt-shoplist-header:after,
.header:after,
.mt-contact-detail .txt-wrap:after,
.mt-about-sec:after {
	content: "";
	display: block;
	clear: both;
}

.mt-bottom-bar a,
.mt-bottom-bar .bar-opener .bar,
.mt-bottom-bar .mt-search-box .fa,
.mt-mdropover,
.mt-side-over,
.mt-side-menu .side-close span,
.btn-type1,
.btn-type2,
.btn-type3,
.btn-type4 {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

#wrapper {
	padding: 0;
}

.w1 {
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

a:focus,
a:hover {
	border: 0;
	outline: none;
	outline-offset: 0;
	text-decoration: none;
}

/*------------------------------------------------------------------
3. Mt Header / #mt-header
-------------------------------------------------------------------*/

#mt-header {
	z-index: 4;
	position: relative;
}

#mt-header a:hover {
	text-decoration: none;
}

#mt-header .icon-heart {
	position: relative;
	top: 2px;
}

#mt-header .icon-magnifier {
	position: relative;
	top: 2px;
}

#mt-header {
	color: #a1a1a1;
}

#mt-header .mt-bottom-bar {
	padding: 10px 0;
}

#mt-header .container-fluid {
	margin: 0 auto;
	max-width: 1485px;
}

#mt-header.sticky .mt-bottom-bar {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
}

/*------------------------------------------------------------------
5. Mt Bottom Bar / .mt-bottom-bar
-------------------------------------------------------------------*/

.mt-bottom-bar {
	background: #fff;
	padding: 42px 31px 42px 48px;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.mt-bottom-bar .mt-holder {
	float: left;
	width: 100%;
}

.mt-bottom-bar .mt-top-social {
	margin: 0;
	float: left;
	font-size: 19px;
	padding: 9px 0 0;
	list-style: none;
}

.mt-bottom-bar .mt-top-social li {
	float: left;
	margin: 0 12px 0 3px;
}

.mt-bottom-bar .mt-top-social a {
	color: #2f2f2f;
}

.mt-bottom-bar .mt-top-social a:hover {
	color: #ff6060;
	text-decoration: none;
}

.mt-bottom-bar .mt-logo img {
	display: block;
}

.mt-bottom-bar .cart-opener {
	display: block;
	position: relative;
}

.mt-bottom-bar .cart-opener .num {
	width: 22px;
	right: -12px;
	bottom: -2px;
	height: 22px;
	color: #fff;
	text-align: center;
	background: #2e2e2e;
	position: absolute;
	border-radius: 50%;
	border: 2px solid #fff;
	font: 11px/15px "Montserrat", sans-serif;
}

.mt-bottom-bar .bar-opener {
	width: 24px;
	height: 24px;
	display: block;
	font-size: 23px;
	text-align: right;
	border-radius: 50%;
	padding: 6px 4px 0 0;
	border: 2px solid #000;
}

.mt-bottom-bar .bar-opener .bar {
	height: 2px;
	width: 11px;
	float: right;
	background: #000;
	margin: 0 0 1px 5px;
}

.mt-bottom-bar .bar-opener .bar.small {
	width: 7px;
}

.mt-bottom-bar .bar-opener.active,
.mt-bottom-bar .bar-opener:hover {
	border-color: #ff6060;
}

.mt-bottom-bar .bar-opener.active .bar,
.mt-bottom-bar .bar-opener:hover .bar {
	background: #ff6060;
}

.mt-bottom-bar .bar-opener.big .bar {
	width: 20px;
	margin: 0 0 3px 5px;
}

.mt-bottom-bar .bar-opener.big .bar.small {
	width: 17px;
}

.mt-bottom-bar .mt-sh-cart {
	width: 180px;
	float: right;
	color: #000;
	margin: 0 0 0 31px;
	position: relative;
	letter-spacing: 1px;
	padding: 2px 0 0 42px;
	font: 11px/15px "Montserrat", sans-serif;
}

.mt-bottom-bar .mt-sh-cart .icon-handbag {
	top: 5px;
	left: 5px;
	font-size: 24px;
	position: absolute;
}

.mt-bottom-bar .mt-sh-cart strong {
	display: block;
	margin: 0 0 2px;
	font-size: 12px;
}

.mt-bottom-bar .mt-sh-cart span {
	display: block;
}

.mt-bottom-bar .mt-sh-cart2 {
	float: right;
	width: 103px;
	height: 85px;
	color: #fff;
	padding: 22px 0 0;
	text-align: center;
	background: #414544;
	letter-spacing: 1px;
	font: 700 11px/25px "Oxygen", sans-serif;
}

.mt-bottom-bar .mt-sh-cart2 span {
	display: block;
}

.mt-bottom-bar .mt-sh-cart2 .icon-handbag {
	font-size: 24px;
}

.mt-bottom-bar .mt-top-list {
	margin: 0;
	padding: 0;
	width: 100%;
	float: right;
	list-style: none;
	letter-spacing: 1px;
	font: 700 11px/18px "Oxygen", sans-serif;
}

.mt-bottom-bar .mt-top-list li {
	float: right;
	margin: 0 9px 0 3px;
	padding: 0 10px 0 15px;
	border-left: 1px solid #dbdbdb;
}

.mt-bottom-bar .mt-top-list li:last-child {
	border: 0;
}

.mt-bottom-bar .mt-top-list a {
	color: #8a8a8a;
}

.mt-bottom-bar .mt-top-list a:hover {
	color: #ff6060;
}

.mt-bottom-bar .mt-nav-box {
	width: 68%;
	float: right;
	padding: 18px 0 0 0;
}

.mt-bottom-bar .mt-search-box {
	width: 52.5%;
	float: right;
	position: relative;
	border-radius: 14px;
	margin: 4px 3.1% 0 0;
	border: 2px solid #000;
	padding: 5px 50px 4px 23px;
}

.mt-bottom-bar .mt-search-box ::-webkit-input-placeholder {
	color: #919191;
}

.mt-bottom-bar .mt-search-box ::-moz-placeholder {
	opacity: 1;
	color: #919191;
}

.mt-bottom-bar .mt-search-box :-moz-placeholder {
	color: #919191;
}

.mt-bottom-bar .mt-search-box :-ms-input-placeholder {
	color: #919191;
}

.mt-bottom-bar .mt-search-box .placeholder {
	color: #919191;
}

.mt-bottom-bar .mt-search-box input {
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	height: 20px;
	outline: none;
	color: #919191;
	background: transparent;
	font: 12px/20px "Source Sans Pro", sans-serif;
}

.mt-bottom-bar .mt-search-box .fa {
	top: 6px;
	border: 0;
	right: 10px;
	color: #000;
	font-size: 16px;
	background: none;
	position: absolute;
}

.mt-bottom-bar .mt-search-box .fa:hover {
	color: #ff6060;
}

.overlay {
	position: absolute;
	top: 40%;
	padding: 10px 20px;
	background: rgba(255,255,255, 0.5);
}

.product-overlay {
	position: absolute;
	top: 50%;
	padding: 10px 20px;
	background: rgba(255,255,255, 0.5);
}

/*------------------------------------------------------------------
6. Nav / #nav
-------------------------------------------------------------------*/

#nav {
	float: right;
	margin: 14px 0 0;
	text-transform: uppercase;
	font: 14px/20px "Montserrat", sans-serif;
}

#nav > ul {
	margin: 0;
	padding: 0;
	float: right;
	list-style: none;
}

#nav > ul > li {
	position: relative;
	vertical-align: top;
	margin: 0 24px 0 7px;
	display: inline-block;
}

#nav > ul > li .mt-mdropover {
	pointer-events: none;
}

#nav > ul > li > a {
	color: #2e2e2e;
	position: relative;
	letter-spacing: 1px;
}

#nav > ul > li > a:hover {
	color: #ff6060;
	text-decoration: none;
}

#nav > ul > li.drop {
	position: static;
	margin: 0 29px 0 0;
}

#nav > ul > li.drop > a:after {
	width: 0;
	top: 100%;
	left: 50%;
	height: 0;
	opacity: 0;
	content: " ";
	visibility: hidden;
	margin-left: -13px;
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 13px;
}

#nav > ul > li.drop:hover > a {
	z-index: 5;
	color: #fff;
}

#nav > ul > li.drop:hover > a:after {
	visibility: visible;
	opacity: 1;
}

#nav > ul > li:hover .mt-dropmenu {
	opacity: 1;
	visibility: visible;
}

#nav > ul > li:hover .mt-mdropover {
	opacity: 1;
	visibility: visible;
}

#nav > ul > li:hover .s-drop {
	opacity: 1;
	visibility: visible;
	top: 100%;
}

#nav > ul > li.dark > a:after {
	border-bottom-color: #000 !important;
}

#nav > ul > li.dark .mt-frame {
	background: #000 !important;
}

#nav > ul > li.dark .title {
	color: #c5c5c5;
}

#nav > ul > li.dark .title a {
	color: #c5c5c5;
}

#nav > ul > li.dark .title a:hover {
	color: #ff6060;
}

#nav > ul > li.dark .title:after {
	background: #c5c5c5;
}

#nav > ul > li.dark .mt-dropmenu a {
	color: #909295;
}

#nav > ul > li.dark .mt-dropmenu a:hover {
	color: #ff6060;
}

#nav .mt-dropmenu {
	top: 24px;
	z-index: 5;
	opacity: 0;
	left: -9999px;
	right: -9999px;
	padding: 30px 0 0;
	visibility: hidden;
	position: absolute;
}

#nav .mt-dropmenu .sub-dropcont {
	overflow: hidden;
	margin: 0 0 31px;
}

#nav .mt-dropmenu .sub-drop {
	overflow: hidden;
}

#nav .mt-dropmenu .title {
	display: block;
	color: #535353;
	margin: 0 0 18px;
	padding: 0 0 4px;
	position: relative;
	pointer-events: none;
	font: 16px/20px "Montserrat", sans-serif;
}

#nav .mt-dropmenu .title a {
	color: #535353;
}

#nav .mt-dropmenu .title a:hover {
	color: #ff6060;
}

#nav .mt-dropmenu .title:after {
	left: 0;
	bottom: 0;
	height: 2px;
	width: 68px;
	content: "";
	position: absolute;
	background: #5a5a5a;
}

#nav .mt-dropmenu .title.small:after {
	width: 34px;
}

#nav .mt-dropmenu ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	text-transform: lowercase;
	font: 300 14px/20px "Source Sans Pro", sans-serif;
}

#nav .mt-dropmenu ul li {
	margin: 0 0 4px;
	text-transform: capitalize;
}

#nav .mt-dropmenu ul a {
	color: #757575;
}

#nav .mt-dropmenu ul a:hover {
	color: #ff6060;
}

#nav .mt-dropmenu .mt-frame {
	margin: 0 auto;
	overflow: hidden;
	max-width: 1200px;
	background: #fff;
	background-size: cover;
	padding: 69px 72px 26px;
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

#nav .mt-dropmenu .mt-col-3 {
	float: left;
	width: 23.3%;
}

#nav .mt-dropmenu .mt-col-3.promo {
	width: 30%;
	padding: 0 0 0 1.9%;
}

#nav .mt-dropmenu .mt-col-3.coll5 {
	width: 20%;
}

#nav .mt-dropmenu .mt-promobox-h {
	overflow: hidden;
	padding: 30px 0 20px;
}

#nav .mt-dropmenu .mt-promobox-h .mt-promobox {
	float: left;
	padding: 0 0 20px;
}

#nav .mt-dropmenu .mt-promobox-h .mt-promobox:nth-child(even) {
	float: right;
}

#nav .s-drop {
	left: 0;
	top: 140%;
	margin: 0;
	opacity: 0;
	width: 220px;
	list-style: none;
	text-align: left;
	padding: 28px 0 0;
	visibility: hidden;
	position: absolute;
	font: 300 12px/35px "Source Sans Pro", sans-serif;
}

#nav .s-drop ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav .s-drop ul > li {
	padding: 0 15px;
	position: relative;
	border-bottom: 1px solid #eee;
}

#nav .s-drop ul > li.drop:before {
	top: 7px;
	right: 10px;
	color: #2e2e2e;
	font-size: 11px;
	content: "\f105";
	position: absolute;
	font-family: "FontAwesome";
}

#nav .s-drop ul > li:hover .s-drop {
	opacity: 1 !important;
	visibility: visible !important;
	top: 0 !important;
}

#nav .s-drop ul > li:last-child {
	border-bottom: 0;
}

#nav .s-drop > ul {
	padding: 5px 0;
	background: #fff;
	border: 1px solid #eee;
}

#nav .s-drop a {
	display: block;
	color: #2e2e2e;
	position: relative;
	letter-spacing: 1px;
}

#nav .s-drop .s-drop {
	left: 100%;
	background: #fff;
	top: 140% !important;
	opacity: 0 !important;
	border: 1px solid #eee;
	visibility: hidden !important;
}

.marginzero {
	margin: 0 !important;
}

.bgblack {
	background: #000 !important;
}

.mt-mdropover {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	position: fixed;
	visibility: hidden;
	background: rgba(0, 0, 0, .5);
}

/*------------------------------------------------------------------
8. Mt Side Over / .mt-side-over
-------------------------------------------------------------------*/

.mt-side-over {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 5;
	position: fixed;
	visibility: hidden;
	background: rgba(0, 0, 0, .5);
}

.mt-side-over.active {
	opacity: 1;
	visibility: visible;
}

/*------------------------------------------------------------------
9. Mt Side Menu / .mt-side-menu
-------------------------------------------------------------------*/

.mt-side-menu {
	top: 0;
	right: 0;
	bottom: 0;
	width: 385px;
	z-index: 9999;
	position: fixed;
	overflow-y: auto;
	background: #f8f8f8;
	transform: translateX(385px);
	-ms-transform: translateX(385px);
	-webkit-transform: translateX(385px);
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.mt-side-menu .side-close {
	top: 38px;
	right: 40px;
	width: 16px;
	height: 16px;
	position: absolute;
}

.mt-side-menu .side-close span {
	height: 2px;
	width: 16px;
	display: block;
	background: #9d9d9d;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.mt-side-menu .side-close span + span {
	margin: -2px 0 0;
	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.mt-side-menu .side-close:hover span {
	background: #ff6060;
}

.mt-side-menu .mt-side-title {
	color: #777;
	display: block;
	margin: 0 0 20px;
	background: #f0f0f0;
	text-transform: uppercase;
	padding: 30px 50px 24px 34px;
	font: 18px/20px "Montserrat", sans-serif;
}

.side-col-active .mt-side-menu .mt-mdropover {
	opacity: 1;
	visibility: visible;
}

.side-col-active .w1 {
	transform: translateX(-383px);
	-ms-transform: translateX(-383px);
	-webkit-transform: translateX(-383px);
}

.right-side.side-col-active .w1 {
	transform: translateX(383px);
	-ms-transform: translateX(383px);
	-webkit-transform: translateX(383px);
}

.right-side .mt-side-menu {
	left: 0;
	right: auto;
	transform: translateX(-385px);
	-ms-transform: translateX(-385px);
	-webkit-transform: translateX(-385px);
}

.or-divider {
	color: #808080;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font: 700 14px/20px "Montserrat", sans-serif;
}

.or-divider .txt {
	width: 46px;
	height: 46px;
	margin: 0 auto;
	display: block;
	padding: 10px 0 0;
	border-radius: 50%;
	position: relative;
	background: #f8f8f8;
	border: 1px solid #e6e6e6;
}

.or-divider .txt:after {
	top: 50%;
	z-index: -1;
	height: 1px;
	content: "";
	left: -9999px;
	right: -9999px;
	position: absolute;
	border-top: 1px solid #e6e6e6;
}

.mt-side-nav {
	overflow: hidden;
	text-transform: uppercase;
	font: 18px/20px "Montserrat", sans-serif;
}

.mt-side-nav .drop {
	max-height: 0;
	font-size: 15px;
	overflow: hidden;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.mt-side-nav .drop ul {
	padding: 10px 15px;
}

.mt-side-nav .drop li {
	margin: 0 0 10px;
}

.mt-side-nav .drop.open {
	max-height: 999px;
}

.mt-side-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mt-side-nav ul li {
	margin: 0 0 5px;
}

.mt-side-nav a {
	color: #7d7d7d;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.mt-side-nav a:hover {
	color: #ff6060;
	text-decoration: none;
}

.mt-side-nav.small {
	text-transform: lowercase;
	text-transform: capitalize;
	font: 16px/20px "Montserrat", sans-serif;
}

/*------------------------------------------------------------------
71. Mt Footer / #mt-footer
-------------------------------------------------------------------*/

#mt-footer.montserrat {
	font-family: "Montserrat", sans-serif;
}

#mt-footer.fullwidth {
	width: 100% !important;
	max-width: 100% !important;
}

#mt-footer {
	margin: 0 auto;
	max-width: 1600px;
}

#mt-footer .divider {
	border-width: 1px 0;
	border-style: solid;
	padding-bottom: 20px;
	padding-top: 20px;
	border-color: #e8e8e8;
}

#mt-footer .dark {
	background: #f6f6f6;
	position: relative;
}

#mt-footer .dark .divider {
	padding-top: 0;
	padding-bottom: 40px;
	border-width: 0 0 1px;
}

#mt-footer .light {
	background: #3e3e3e;
	position: relative;
	border-bottom: none;
}

#mt-footer .light .divider {
	padding-top: 0;
	padding-bottom: 40px;
	border-width: 0 0 1px;
}

#mt-footer .logo {
	width: 112px;
	margin: 0 0 23px;
	display: inline-block;
	vertical-align: top;
}

#mt-footer p {
	margin: 0;
}

#mt-footer .footer-area {
	padding: 31px 0 20px;
}

#mt-footer .footer-area .logo {
	margin: 0 auto 20px;
}

#mt-footer .footer-area .copyright {
	margin: -70px 0 0;
}

#mt-footer .footer-area .copyright a {
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
	color: #868686;
}

#mt-footer .footer-area .copyright a:hover {
	color: #ff6060;
}

#mt-footer .footer-area .copy-right p a {
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
	color: #868686;
}

#mt-footer .footer-area .copy-right p a:hover {
	color: #ff6060;
}

#mt-footer .footer-area p {
	margin: 0 0 15px;
}

#mt-footer .footer-area p a {
	font-weight: 700;
	color: #000;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

#mt-footer .footer-area p a:hover {
	color: #ff6060;
}

#mt-footer .bank-card-2 {
	width: 140px;
	float: right;
	padding: 4px 0 0;
}

#mt-footer .bank-card-2.align-center {
	margin: 0 auto 20px;
	float: none;
}

#mt-footer .bank-card-2.pull-left {
	float: left;
	margin: -80px 0 0;
}

#mt-footer .bank-card {
	width: 265px;
	float: right;
	margin: -5px 0 0;
}

#mt-footer .bank-card.align-center {
	margin: 0 auto;
	float: none;
}

#mt-footer .bank-card img {
	height: auto;
	display: block;
	max-width: 100%;
}

#mt-footer .social-network.social-icon {
	font-size: 18px;
	line-height: 20px;
}

#mt-footer .social-network li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 6px 0 2px;
}

#mt-footer .social-network a {
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

#mt-footer .social-network a:hover {
	color: #ff6060;
}

/*------------------------------------------------------------------
77. Mt Mainslider2 / .mt-mainslider2
-------------------------------------------------------------------*/

.mt-mainslider2 {
	max-width: 1460px;
}

.mt-mainslider2 .holder {
	background: #f6f6f6;
	position: relative;
}

.mt-mainslider2 .img {
	display: block;
	width: 100%;
	height: auto;
}

.mt-mainslider2 .sub-title {
	display: block;
	color: #535353;
	margin: 0 0 10px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font: 600 14px/16px "Source Sans Pro", sans-serif;
}

.mt-mainslider2 h1 {
	color: #3b3b3b;
	margin: 0 0 -10px;
	font: 700 65px/70px "Montserrat", sans-serif;
}

/*------------------------------------------------------------------
43. banner frame / .banner-frame
-------------------------------------------------------------------*/

.banner-frame {
	margin: 0 -11px;
	overflow: hidden;
	padding: 23px 0 0;
}

.banner-frame img {
	max-width: 100%;
}

.banner-frame .holder {	
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	padding: 42px 38px 20px 41px;
}

.banner-frame h2 {
	margin: 0 0 3px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 4.6px;
	font-size: 24px;
	line-height: 28px;
}

.banner-frame .mt-stars {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: 12px;
	list-style: none;
}

.banner-frame .mt-stars li {
	margin: 0 1px 0 0;
	display: inline-block;
	vertical-align: middle;
}

.banner-frame .mt-stars .fa {
	color: #c8a760;
}

.banner-frame .mt-stars .fa-star-o {
	color: #d6d6d6;
}

.banner-frame .btn-shop {
	color: #878787;
	font-size: 14px;
	margin: 40px 0 0;
	line-height: 16px;
	text-decoration: none;
	letter-spacing: -.8px;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
	display: inline-block;
	vertical-align: middle;
}

.banner-frame .btn-shop span,
.banner-frame .btn-shop .fa {
	color: #878787;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
	display: inline-block;
	vertical-align: middle;
}

.banner-frame .btn-shop span {
	margin: 0 11px 0 0;
}

.banner-frame .btn-shop .fa {
	text-align: center;
	border-radius: 100%;
	border: 1px solid #878787;
	width: 24px;
	height: 24px;
	font-size: 17px;
	line-height: 21px;
}

.banner-frame .btn-shop.add {
	margin: 0;
}

.banner-frame .btn-shop:hover {
	color: #ff6060;
	text-decoration: none;
}

.banner-frame .btn-shop:hover span,
.banner-frame .btn-shop:hover .fa {
	color: #ff6060;
	border-color: #ff6060;
}

.banner-frame .discount {
	color: #fff;
	float: right;
	width: 129px;
	height: 129px;
	font-weight: bold;
	text-align: center;
	border-radius: 100%;
	background: #eed24c;
	font-size: 37px;
	line-height: 40px;
	font-family: "Montserrat", sans-serif;
}

.banner-frame .discount span {
	display: block;
	padding: 44px 0 0;
}

.banner-frame .price {
	display: block;
	color: #9f9f9f;
	padding: 12px 0 19px;
	letter-spacing: -1.5px;
	font-size: 17px;
	line-height: 23px;
	font-family: "Montserrat", sans-serif;
}

.banner-frame .shop {
	right: 38px;
	bottom: 24px;
	color: #878787;
	position: absolute;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
	display: inline-block;
	vertical-align: middle;
}

.banner-frame .shop:hover {
	color: #ff6060;
	text-decoration: none;
}

.banner-frame .shop:hover .fa {
	border-color: #ff6060;
}

.banner-frame .right {
	text-align: right;
}

.banner-frame .white {
	color: #fff;
}

.banner-frame h3 {
	margin: 0 0 10px;
	font: 700 21px/28px "Montserrat", sans-serif;
}

.banner-frame.nospace {
	margin: 0;
}

.banner {
	float: left;
	margin: 0 11px;
	position: relative;
}

/*------------------------------------------------------------------
56. banner / .banner
-------------------------------------------------------------------*/

.banner {
	width: 589px;
}

.banner .holder {
	padding: 56px 37px 20px 20px;
}

.banner h2 {
	color: #b7b7b7;
	font-size: 16px;
	line-height: 18px;
}

.banner h2 strong {
	display: block;
	color: #535353;
	padding: 3px 0 0;
	font-size: 24px;
	line-height: 26px;
}

.banner .btn-shop {
	right: 38px;
	bottom: 51px;
	position: absolute;
}

/*------------------------------------------------------------------
31. Mt Productsc / .mt-productsc
-------------------------------------------------------------------*/

.mt-productsc {
	padding: 100px 0 0;
	margin-top: -50px;
}

/*------------------------------------------------------------------
33. js tab hidden / .js-tab-hidden
-------------------------------------------------------------------*/

.js-tab-hidden {
	height: 0;
	overflow-y: hidden;
}

@font-face {
	font-family: slick;
	src: url("../fonts/slick.eot");
	src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svgslick") format("svg");
	font-weight: 400;
	font-style: normal;
}

/* Icons */

@font-face {
	font-family: "slick";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/slick.eot");
	src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
}

/*------------------------------------------------------------------
11. Mt Contact Detial / .mt-contact-detial
-------------------------------------------------------------------*/

.mt-contact-detail {
	padding: 75px 0 65px;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	background: #f6f6f6;
	color: #383838;
}

.mt-contact-detail .icon {
	display: block;
	margin: 0 0 25px;
	color: #383838;
	font-size: 48px;
	line-height: 50px;
}

.mt-contact-detail .title {
	text-transform: uppercase;
	display: block;
	margin: 0 0 18px;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}

.mt-contact-detail a {
	color: #383838;
}

.mt-contact-detail address {
	font-style: normal;
	margin: 0;
}


/*------------------------------------------------------------------
14. Mt About Section / .mt-about-sec
-------------------------------------------------------------------*/

.mt-about-sec {
	padding: 100px 0 0;
	margin-top: -50px;
}

.mt-about-sec .txt {
	overflow: hidden;
	font-size: 18px;
	line-height: 31px;
	font-weight: 300;
	margin: 0 0 22px;
	color: #494949;
}

.mt-about-sec .txt p {
	padding: 24px;
}

.mt-about-sec h2 {
	font-size: 30px;
	line-height: 33px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	color: #494949;
}

/*------------------------------------------------------------------
19. Mt Heading / .mt-heading
-------------------------------------------------------------------*/

.mt-heading {
	color: #a0a0a0;
	margin: 0 0 24px;
	letter-spacing: 4px;
	font: 700 14px/20px "Source Sans Pro", sans-serif;
}

.mt-heading .heading {
	color: #3a3a3a;
	letter-spacing: 0;
	font: 700 26px/30px "Montserrat", sans-serif;
}

.product-name {
	font-size: 22px;
}

.bg-grey {
	background-color: #f8f8f8;
}

.paddingzero {
	padding: 0 !important;
}

.paddingtop-md {
	padding-top: 60px;
}

.paddingbootom-md {
	padding-bottom: 60px;
}

.mt-paddingbottom20 {
	padding-bottom: 20px;
}

.toppadding-zero {
	padding-top: 0 !important;
}

.mt-socialicons {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	font-size: 20px;
	list-style: none;
	overflow: hidden;
	line-height: 20px;
	text-align: center;
	table-layout: fixed;
}

.mt-socialicons li {
	display: table-cell;
	vertical-align: middle;
}

.mt-socialicons li a {
	color: #fff;
	height: 62px;
	display: block;
	line-height: 62px;
}

.mt-logo {
	width: 100px;	
	margin-left: 20px;
}

@font-face {
	font-family: fontello;
	src: url("../fonts/fontello.eot");
	src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svgfontello") format("svg");
	font-weight: 400;
	font-style: normal;
}

/*------------------------------------------------------------------
3. Wrapper / #wrapper
-------------------------------------------------------------------*/

#wrapper {
	font-family: "Source Sans Pro", sans-serif;
}

img {
	display: block;
	width: 100%;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	outline: none;
}

.loader-container {
	background: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

.loader {
	display: block;
	position: absolute;
	font-size: 0;
	color: #f36b21;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.changer-active #style-changer {
	margin: 0;
}

.fa-map-marker {
	color: #3b60c4;
}

.fa-envelope-o {
	color: #c71610;
}

.fa-facebook {
	color: #4267B2
}

.fa-linkedin {
	color: #2867B2
}

.fa-instagram {
	color: #3f729b;
}

.fa-whatsapp  {
  color:#4AC959;  
}