#wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.clearfix:after,
#mt-footer:after,
.mt-shoplist-header:after,
.header:after,
.mt-contact-detail .txt-wrap:after,
.mt-about-sec:after {
	content: "";
	display: block;
	clear: both;
}

.mt-mdropover,
.btn-type1,
.btn-type2,
.btn-type3,
.btn-type4 {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

#wrapper {
	padding: 0;
}

.w1 {
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

a:focus,
a:hover {
	border: 0;
	outline: none;
	outline-offset: 0;
	text-decoration: none;
}

/*------------------------------------------------------------------
3. Mt Header / #mt-header
-------------------------------------------------------------------*/

#mt-header {
	z-index: 4;
	position: relative;
}

#mt-header a:hover {
	text-decoration: none;
}

#mt-header .icon-heart {
	position: relative;
	top: 2px;
}

#mt-header .icon-magnifier {
	position: relative;
	top: 2px;
}

#mt-header {
	color: #a1a1a1;
}

#mt-header .mt-bottom-bar {
	padding: 10px 20px;
}

#mt-header .container-fluid {
	margin: 0 auto;
	max-width: 1485px;
}

#mt-header.sticky .mt-bottom-bar {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, .1);
}

/*------------------------------------------------------------------
5. Mt Bottom Bar / .mt-bottom-bar
-------------------------------------------------------------------*/

.mt-bottom-bar {
	background: #fff;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

.main-caption {
	position: absolute;
	max-width: 600px;
	padding: 10px 20px;
	top: 40%;
	font-size: 36px;
	text-transform: uppercase;
	color: #f5f5f5;
}

.product-caption {
	position: absolute;
	bottom: 0%;
  right: 0%;
  min-width: 200px;
	padding: 10px 20px;
	background: rgba(255,255,255, 0.8);
}

.marginzero {
	margin: 0 !important;
}

.bgblack {
	background: #000 !important;
}

.mt-mdropover {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	position: fixed;
	visibility: hidden;
	background: rgba(0, 0, 0, .5);
}

/*------------------------------------------------------------------
71. Mt Footer / #mt-footer
-------------------------------------------------------------------*/

#mt-footer.montserrat {
	font-family: "Montserrat", sans-serif;
}

#mt-footer.fullwidth {
	width: 100% !important;
	max-width: 100% !important;
}

#mt-footer {
	margin: 0 auto;
	max-width: 1600px;
}

#mt-footer .divider {
	border-width: 1px 0;
	border-style: solid;
	padding-bottom: 20px;
	padding-top: 20px;
	border-color: #e8e8e8;
}

#mt-footer .dark {
	background: #f6f6f6;
	position: relative;
}

#mt-footer .dark .divider {
	padding-top: 0;
	padding-bottom: 40px;
	border-width: 0 0 1px;
}

#mt-footer .light {
	background: #3e3e3e;
	position: relative;
	border-bottom: none;
}

#mt-footer .light .divider {
	padding-top: 0;
	padding-bottom: 40px;
	border-width: 0 0 1px;
}

#mt-footer .logo {
	width: 112px;
	margin: 0 0 23px;
	display: inline-block;
	vertical-align: top;
}

#mt-footer p {
	margin: 0;
}

#mt-footer .footer-area {
	padding: 31px 0 20px;
}

#mt-footer .footer-area .logo {
	margin: 0 auto 20px;
}

#mt-footer .footer-area .copyright {
	margin: -70px 0 0;
}

#mt-footer .footer-area .copyright a {
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
	color: #868686;
}

#mt-footer .footer-area .copyright a:hover {
	color: #ff6060;
}

#mt-footer .footer-area .copy-right p a {
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
	color: #868686;
}

#mt-footer .footer-area .copy-right p a:hover {
	color: #ff6060;
}

#mt-footer .footer-area p {
	margin: 0 0 15px;
}

#mt-footer .footer-area p a {
	font-weight: 700;
	color: #000;
	-webkit-transition: all .4s linear;
	transition: all .4s linear;
}

#mt-footer .footer-area p a:hover {
	color: #ff6060;
}

#mt-footer .bank-card-2 {
	width: 140px;
	float: right;
	padding: 4px 0 0;
}

#mt-footer .bank-card-2.align-center {
	margin: 0 auto 20px;
	float: none;
}

#mt-footer .bank-card-2.pull-left {
	float: left;
	margin: -80px 0 0;
}

#mt-footer .bank-card {
	width: 265px;
	float: right;
	margin: -5px 0 0;
}

#mt-footer .bank-card.align-center {
	margin: 0 auto;
	float: none;
}

#mt-footer .bank-card img {
	height: auto;
	display: block;
	max-width: 100%;
}

#mt-footer .social-network.social-icon {
	font-size: 18px;
	line-height: 20px;
}

#mt-footer .social-network li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 6px 0 2px;
}

#mt-footer .social-network a {
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

#mt-footer .social-network a:hover {
	color: #ff6060;
}

/*------------------------------------------------------------------
77. Mt Mainslider2 / .mt-mainslider2
-------------------------------------------------------------------*/

.mt-mainslider2 {
	max-width: 1460px;
}

.mt-mainslider2 .holder {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/businesspeople.jpg");

  /* Set a specific height */
  height: 100vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mt-mainslider2 .img {
	display: block;
	height: 100vh;
}

.mt-mainslider2 .sub-title {
	display: block;
	color: #535353;
	margin: 0 0 10px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font: 600 14px/16px "Source Sans Pro", sans-serif;
}

.mt-mainslider2 h1 {
	color: #3b3b3b;
	margin: 0 0 -10px;
	font: 700 65px/70px "Montserrat", sans-serif;
}

.holder:before {
	content: "";
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.holder:before {
	content: "";
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.green {
	color: #8fc74a;
}

.blue {
	color: #64abde;
}

.pink {
	color: #ec268f;
}

.black {
	color: #5c5c5e;
}

/*------------------------------------------------------------------
31. Mt Productsc / .mt-productsc
-------------------------------------------------------------------*/

.mt-productsc {
	padding: 100px 0 0;
	margin-top: -50px;
}

.mt-productsc h2 {
	font-size: 30px;
	line-height: 33px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	color: #494949;
	margin: 28px 0;
}

/*------------------------------------------------------------------
33. js tab hidden / .js-tab-hidden
-------------------------------------------------------------------*/

.js-tab-hidden {
	height: 0;
	overflow-y: hidden;
}

@font-face {
	font-family: slick;
	src: url("../fonts/slick.eot");
	src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svgslick") format("svg");
	font-weight: 400;
	font-style: normal;
}

/* Icons */

@font-face {
	font-family: "slick";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/slick.eot");
	src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
}

/*------------------------------------------------------------------
11. Mt Contact Detial / .mt-contact-detial
-------------------------------------------------------------------*/

.mt-contact-detail {
	padding: 75px 0 65px;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	background: #f6f6f6;
	color: #5c5c5e;
}

.mt-contact-detail .icon {
	display: block;
	margin: 0 0 25px;
	color: #5c5c5e;
	font-size: 48px;
	line-height: 50px;
}

.mt-contact-detail .title {
	text-transform: uppercase;
	display: block;
	margin: 0 0 18px;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1px;
}

.mt-contact-detail a {
	color: #5c5c5e;
}

.mt-contact-detail address {
	font-style: normal;
	margin: 0;
}


/*------------------------------------------------------------------
14. Mt About Section / .mt-about-sec
-------------------------------------------------------------------*/

.mt-about-sec {
	padding: 100px 0 0;
	margin-top: -50px;
}

.mt-about-sec .txt {
	overflow: hidden;
	font-size: 18px;
	line-height: 31px;
	font-weight: 300;
	margin: 0 0 22px;
	color: #494949;
	padding: 24px;
}

.mt-about-sec .txt p {
	text-align: justify;
	text-indent: 56px;
}

.mt-about-sec h2 {
	font-size: 30px;
	line-height: 33px;
	font-weight: bold;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	color: #494949;
}

/*------------------------------------------------------------------
19. Mt Heading / .mt-heading
-------------------------------------------------------------------*/

.mt-heading {
	color: #a0a0a0;
	margin: 0 0 24px;
	letter-spacing: 4px;
	font: 700 14px/20px "Source Sans Pro", sans-serif;
}

.mt-heading .heading {
	color: #3a3a3a;
	letter-spacing: 0;
	font: 700 26px/30px "Montserrat", sans-serif;
}

.product-name {
	font-size: 22px;
}

.bg-grey {
	background-color: #f8f8f8;
}

.paddingzero {
	padding: 0 !important;
}

.paddingtop-md {
	padding-top: 60px;
}

.paddingbootom-md {
	padding-bottom: 60px;
}

.mt-paddingbottom20 {
	padding-bottom: 20px;
}

.toppadding-zero {
	padding-top: 0 !important;
}

.mt-socialicons {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	font-size: 20px;
	list-style: none;
	overflow: hidden;
	line-height: 20px;
	text-align: center;
	table-layout: fixed;
}

.mt-socialicons li {
	display: table-cell;
	vertical-align: middle;
}

.mt-socialicons li a {
	color: #fff;
	height: 62px;
	display: block;
	line-height: 62px;
}

.mt-logo {
	width: 100px;
}

.header-icon {
	font-size: 38px;
}

.header-icon .icon-text {
	font-size: 18px;
	font-weight: 400;
}

@font-face {
	font-family: fontello;
	src: url("../fonts/fontello.eot");
	src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"), url("../fonts/fontello.woff") format("woff"), url("../fonts/fontello.ttf") format("truetype"), url("../fonts/fontello.svgfontello") format("svg");
	font-weight: 400;
	font-style: normal;
}

/*------------------------------------------------------------------
3. Wrapper / #wrapper
-------------------------------------------------------------------*/

#wrapper {
	font-family: "Source Sans Pro", sans-serif;
}

img {
	display: block;
	width: 100%;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
	outline: none;
}

.loader-container {
	background: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

.loader {
	display: block;
	position: absolute;
	font-size: 0;
	color: #f36b21;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.changer-active #style-changer {
	margin: 0;
}

.fa-map-marker {
	color: #3b60c4;
}

.fa-envelope-o {
	color: #c71610;
}

.fa-facebook {
	color: #4267B2
}

.fa-linkedin {
	color: #2867B2
}

.fa-instagram {
	color: #3f729b;
}

.fa-whatsapp  {
  color:#4AC959;  
}