@media (max-width: 580px) {
	.hidden-sm {
		display: none !important;
	}

	#mt-header .mt-bottom-bar {
		padding: 10px 0;
	}

	.main-caption {
		font-size: 26px;
	}
}

@media (min-width: 991px) and (max-width: 1200px) {
	.hidden-md {
		display: none !important;
	}
}

@media (min-width: 1200px) {
	.hidden-lg {
		display: none !important;
	}
}

@media only screen and (max-width: 1199px) {
	br {
		display: block;
	}

	.img-block {
		width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	.mt-paddingsmzero {
		padding: 0 !important;
	}

	.mt-paddingbottomsm {
		padding-bottom: 30px;
	}

	br {
		display: none;
	}

	.mt-mainslider2 h1 {
		font-size: 45px;
		line-height: 50px;
	}
}

@media only screen and (max-width: 767px) {
	.mt-paddingbottomxs {
		padding-bottom: 30px;
	}

	.mt-nopaddingtopxs {
		padding-top: 0 !important;
	}

	.mt-bottom-bar {
		padding: 15px 0;
	}

	#mt-footer .bank-card-2.pull-left {
		margin: 0;
	}

	#mt-footer .footer-area .copyright {
		margin: 0;
	}

	#mt-footer .footer-area p {
		text-align: center;
	}

	#mt-footer .bank-card-2,
	#mt-footer .bank-card {
		float: none;
		margin: 0 auto;
	}

	#mt-footer .col-xs-12.text-right {
		text-align: center !important;
	}

	.mt-contact-detail .contact-txt li {
		margin: 0 0 20px;
		float: none;
	}
	
	.mt-mainslider2 h1 {
		font-size: 25px;
		line-height: 30px;
	}

	.mt-heading .heading {
		font-size: 20px;
	}
	
	.hidden-xs {
		display: none !important;
	}
}

